# Include the YAML configuration files from the settings directory
recursive-include AtomFiles settings *.yaml
recursive-include AtomFiles settings *.json

# Include the README
include README.md

# Include other important files such as LICENSE, requirements.txt if they exist
include LICENSE
include requirements.txt
